{% extends 'news/base_news.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}

    <div style="padding: 2.25rem; background: #f2f2f2; border-radius: 10px">

        <h1 class="mt-4">
            {{ article.title }}
        </h1>
        <h3 class="mt-4">
            {{ article.title2 }}
        </h3>
        <p class="card-text"><small class="text-muted">{{ article.pub_date }}</small></p>
        {% if article.img %}
            <div style="text-align: center;">
                <img src="{{ article.img.url }}" width="820"  alt="..." style="border-radius: 10px 10px 0px 0px;">
            </div>
        {% endif %}
        <p class="mt-4">
            <big>
                {{ article.body }}
            </big>
        </p>

    </div>

{% endblock %}