{% extends 'base.html' %}

{% block navbar %}

<!--    {% for tag in tags %}-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="{{ tag.get_detail_url }}">{{ tag.title }}<span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--    {% endfor %}-->

    <li class="nav-item">
        <a class="nav-link" href="/news/tag/politika">Политика<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news/tag/it">IT<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news/tag/istorii">Истории<span class="sr-only">(current)</span></a>
    </li>

{% endblock %}
