{% extends 'news/base_news.html' %}

{% block title %}
    News
{% endblock %}

{% block navbar %}

    {% for tag in tags %}
        <li class="nav-item">
            <a class="nav-link" href="{{ tag.get_detail_url }}">{{ tag.title }}<span class="sr-only">(current)</span></a>
        </li>
    {% endfor %}

{% endblock %}

{% block content %}
    <div class="card-group">

        {% for article in articles %}
            {% include 'news/includes/article_card_template.html' %}
        {% endfor %}

    </div>

{% endblock %}
