<div class="card" style="border-radius: 10px">
    <p>
        <a href="{{ article.get_detail_url }}"><img src="{{ article.img }}" class="card-img-top"></a>
    </p>

    <a href="{{ article.get_detail_url }}" style="color: #000; text-decoration: none">
        <div class="card-body">
            <b class="card-title">{{ article.title }}</b>
            <p class="card-text">{{ article.title2 }}</p>
            <p class="card-text"><small class="text-muted">{{ article.pub_date }}</small></p>
        </div>
    </a>
</div>